nav {
  height: 130px;
  width: 99vw;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: Bungee, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}
.write-tweet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
}

.write-tweet span {
  margin-right: 0.5em;
  font-size: 1.2em;
  
}

.write-tweet i {
  margin-top: 0.5em;
  color: red;
}
.bumming-about {
  background-attachment: red;
}

